{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
