{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}
