{% if personne.date|date('Y') > 2000 %}
    <a href="{{ path('app_name', {nom: personne.nom}) }}"><li style="list-style-type: none; font-size: 30px;">{{ personne.nom }}</li></a>
    <li style="list-style-type: none; font-size: 30px;">{{ personne.date|date('d/m/Y') }}</li>
{% endif %}