{% extends 'base.html.twig' %}
{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <div>
        <h2>Membres du gang des grands-mères</h2>

        {% for personne in personnes %}

            {{ include('first/_date_2000.html.twig') }}

        {% endfor %}
    </div>
{% endblock %}