{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {{ include('home/_header_style.html.twig') }}

    {{ include('_logged.html.twig') }}

    <h2><a href="{{ path('app_login') }}">Connexion</a></h2>
    <h2><a href="{{ path('app_register') }}">Inscription</a></h2>
    {% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('app_user_index') }}">Utilisateurs</a></h2>
    {% endif %}

    <h2><a href="{{ path('app_user_edit', {'id': app.user.id}) }}">Info Persos</a></h2>
    {% endif %}
    <h1>Home</h1>

    <h2><a href="{{ path('app_article_index') }}">Articles</a></h2>
    <h2><a href="{{ path('app_auteur_index') }}">Auteurs</a></h2>
    <h2><a href="{{ path('app_tag_index') }}">Tags</a></h2>

{% endblock %}