{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Create new User</h1>

    {% if is_granted('ROLE_ADMIN') %}

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('app_user_index') }}">back to list</a>

    {% endif %}

{% endblock %}
