{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}

    {{ include('home/_header_style.html.twig') }}

    {{ include('_logged.html.twig') }}

    <h2><a href="{{ path('app_home') }}">Home</a></h2>

    <h1>Auteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nom }}</td>
                <td>
                    <a href="{{ path('app_auteur_show', {'id': auteur.id}) }}">show</a>
                    <a href="{{ path('app_auteur_edit', {'id': auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auteur_new') }}">Create new</a>
{% endblock %}
