{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Create new Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('app_auteur_index') }}">back to list</a>
{% endblock %}
