{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_auteur_index') }}">back to list</a>

    <a href="{{ path('app_auteur_edit', {'id': auteur.id}) }}">edit</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
