{% if app.user %}
    <div class="mb-3">
        Vous etes connectés avec l'adresse mail {{ app.user.userIdentifier }} <h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2>
    </div>
{% endif %}