{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}

    {{ include('_logged.html.twig') }}

    <h2><a href="{{ path('app_home') }}">Home</a></h2>

    <h1>Tag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.nom }}</td>
                <td>
                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tag_new') }}">Create new</a>
{% endblock %}
