{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Create new Tag</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('app_tag_index') }}">back to list</a>
{% endblock %}
