{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    {{ include('home/_header_style.html.twig') }}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tag.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tag_index') }}">back to list</a>

    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">edit</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
